body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #f78d2d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#logo {
    float: left;
}

li {
    float: right;
    padding: 10px 20px;
    font-size: 20px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    color: grey;
}

#title {
    font-size: 40px;
    text-align: center;
}

.food {
    padding-left: 40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border-bottom: 5px solid black;
    text-align: left;
    padding: 8px;
    width: 60%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

#CLOSED {
    font-size: 40px;
    text-align: center;
    color: red;
}