body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #f78d2d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#logo {
    float: left;
}

li {
    float: right;
    padding: 10px 20px;
    font-size: 20px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    color: grey;
}

.title {
    font-size: 50px;
    padding: 30px;
}

#courts {
    text-align: center;
    height: 500px;
}

.row {
    display: flex;
    margin: 40px;
    text-align: center;
  }
  
.column {
    flex: 50%;
}

#team {
    text-align: center;
    background-color: #c6beb5;
    height: 600px;
}