body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}

#showcase {
    background-color: #4771A4; 
    /* background-image: url("/imgs/arc_outside2.jpg"); */
    height: 600px;
    text-align: center;
    padding-left: 200px;
}

#title {
    font-size: 150px;
    padding-top: 150px;
}

#gym {
    margin-left: -800px;
    text-align: left;
    font-size: 150px;
    color: rgb(0, 62, 120);
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    text-shadow: 3px 3px black;
}

#eater {
    text-align: left;
    color: rgb(253, 185, 19);
    text-shadow: 6px 6px black;
}

#slogan {
    margin-left: -1200px;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 33px;
    font-style : italic;
    color: black;
}

#navbar {
    background-color: white;
    border-bottom: 4px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#logo {
    position: absolute;
    top:-10px;
    left:-10px;
    float:left;
    width: 5px;
    height: 5px;
}

li {
    float: right;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
  
li a {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    color: grey;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 27%;
    padding: 0 10px;
    padding: 0 50px 0 30px;
  }
  
.tag {
    padding: 50px;
    background-color: white;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    display: flex;
    justify-content: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 25px;
    text-align: center;
    background-color: #c6beb5;
    height: 400px;
    margin: 0 auto;
    border-radius: 12px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

.btn {
    font-size: 30px;
    color:rgb(0, 62, 120);
    background-color: rgb(253, 185, 19);
    border-radius: 50px;
    padding: 15px 40px;
}

#sports {
    position: absolute;
    right: 150px;
    top: 177px;
    width: 650px;
    height: 500px;
}

.divider {
    width: 70%;
}
.feature-heading {
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 300px;
    margin-top: 50px;
}

.text-desc {
    position: relative;
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 25px;
    margin-left: 300px;
    margin-top: -30px;
    inline-size: 450px;
    overflow-wrap:break-word;
}

.test-desc.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.butt {
    color: black;
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: none;
    background-color: white;
    font-size: 20px;
    margin-left: 290px;
    text-decoration: underline;
}

#divide {
    width: 70%;
}

#feature-heading1 {
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-left: 1000px;
    margin-top: 50px;
}

#text-desc1 {
    overflow: hidden;
    flex-wrap: wrap;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 25px;
    margin-left: 1000px;
    margin-top: -30px;
    inline-size: 450px;
    overflow-wrap:break-word;
}

#butt1 {
    color: black;
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    border: none;
    background-color: white;
    font-size: 20px;
    margin-left: 995px;
    text-decoration: underline;
}

#work {
    position: absolute;
    left: 350px;
    top: 1150px;
    width: 550px;
    height: 350px;
}
#work2 {
    position: absolute;
    left: 900px;
    top: 1500px;
    width: 700px;
    height: 500px;
}
#work0 {
    position: absolute;
    left: 900px;
    top: 720px;
    width: 600px;
    height: 400px;
}


