body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: white;
    border-bottom: 4px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#logo {
  position: absolute;
  top:-10px;
  left:-10px;
  float:left;
  width: 5px;
  height: 5px;
}

li {
    float: right;
    padding: 10px 20px;
    font-size: 20px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    color: grey;
}

#title {
    font-size: 40px;
    text-align: center;
}

.food {
    padding-left: 40px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 0 0 50px 40px;
  }
  
  td, th {
    /* border-bottom: 5px solid black; */
    text-align: left;
    padding: 8px;
    vertical-align: top;
  }

  th {
    font-size: 50px;
    font-style: italic;
    width: 500px;
    font-family: Copperplate, Papyrus, fantasy;
  }

  td {
    width: 300px;
  }

  tr {
    border-bottom: 2px solid black;
  }

#CLOSED {
    font-size: 40px;
    text-align: center;
    color: red;
}