body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: white;
    border-bottom: 4px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
#logo {
    position: absolute;
    top:-10px;
    left:-10px;
    float:left;
    width: 5px;
    height: 5px;
}

li {
    float: right;
    padding: 10px 20px;
    font-size: 20px;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    color: grey;
}

.title {
    font-size: 50px;
    padding: 30px;
    text-align: center;
    margin: 0;
}

#courts {
    text-align: center;
    height: 500px;
}

.row {
    display: flex;
    margin: 40px;
    text-align: center;
  }
  
.column {
    flex: 50%;
}

#info {
    float: left;
    padding-left: 50px;
    width: 35%;
}

#displayteams {
    float: left;
    margin-left: -100px;
}

#team {
    background-color: #c6beb5;
    height: 600px;
}

#nameinput {
    padding-bottom: 20px;
    margin-left: 200px;
}

#timechoice {
    margin: 20px 0;
}

#options {
    margin-left: 200px;
    padding-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid black;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: white;
  }

#basket {
    width: 150px;
    height: 150px;
}

#volley {
    width: 150px;
    height: 150px;
}

#badm {
    width: 150px;
    height: 150px;
}

#basketballcourt {
    color: red;
}

#volleyballcourt {
    color: red;
}

#badmintoncourt {
    color: red;
}

#teambutt {
    background-color: white;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

